* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none
}

body,
html {
    overflow-x: hidden;
    padding: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;